body{
    background-color: black;
}

.search-btn{
    cursor: pointer;
    color: red;
}

/*header*/
.headerr {
z-index: 1;
padding-bottom: 15px;
position: fixed;
top: 0;
width: 100%;
background: #000000;
padding-right: 10px;
}
.meNu1{
    padding-top:20px
}
.meNu1 a{
  padding-left: 45px;
  padding-top: 100px;
  color: #ff2222;
  display: inline;
  text-decoration: none;
}
.meNu1 a:hover{
    color: white; 
}
@media screen and (max-width: 870px) {
    .meNu1 a{
    padding-left: 15px;
    }
  }
@media screen and (max-width: 700px) {
    .search-btn{
        display: none;
    }
    .meNu1{
    padding-top:0px
    }
    .meNu1 a {
        display: none;
    }
    .meNu{
        display: none;
    }
}
.boTo1 i:hover{
        color: white;
    }
.boTo1{
    padding-top: 20px;
    color: red;
}
@media screen and (min-width: 700px) {
    .boTo a{
    display: none;
    width: 20px;
    margin: auto;
    }
    .boTo1{
    display: none;
    }
}
/*header*/
/*open_closeNav*/
.sidenav {
    height: 100%;
    margin-top: 60px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    /* opacity: 0.9; */
    overflow-x: hidden;
    transition: 1.0s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 32px 0px 8px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #e2e2e2;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover{
    color: #cb0000;
}
.sidenav .closebtn {
    position: absolute;
    top: -6px;
    right: 0;
    font-size: 20px;
    padding-right: 30px;
}

@media screen and (max-height: 700px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}  
.sidenav0 {
    height: 100%;
    margin-top: 60px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    /* opacity: 0.9; */
    overflow-x: hidden;
    transition: 1.0s;
    padding-top: 60px;
    text-align:center;
}
.sidenav0 a {
    padding: 20px 0px 8px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #e2e2e2;
    display: block;
    transition: 0.3s;
}
.sidenav0 a:hover{
    color: #cb0000;
}
.sidenav0 .closebtn0 {
    position: absolute;
    top: -6px;
    left: 0;
    font-size: 20px;
    padding-left: 30px;
}
@media screen and (max-height: 700px) {
  .sidenav0 {
      padding-top: 50px;
    }
  .sidenav0 a {
      font-size: 18px;
      color: red;
    }
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    color: red;
}
/*open_closeNav*/
/*Slideshow*/
#bgMySlides {
    background-color: #2f2f01;
}
#bgMySlides img {
    width: 100%;
}
#bgMySlides .w3-display-left {
    width: 50%;
    text-align: right;
    max-width: 400px;
}
#bgMySlides .w3-display-right {
    width: 50%;
    max-width: 400px;
}
@media only screen and (max-width: 700px) {
    #leftBox {
    display: none;
    }
    #rightBox {
    display: none;
    }
}
/*Slideshow*/
/*bgimg*/
.bgimg1 {
    background-position: center;
    background-size: cover;
    background-image: url("image/bgimg1.jpg");
    height: 100%;
}
.bgimg2 {
    background-position: center;
    background-size: cover;
    background-image: url("image/bgimg2.jpg");
    min-height: 100%;
}
/*bgimg*/
/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* First image (Portfolio) */
.bgimg-1 {
    background-image: url("image/kolinval.jpg");
    min-height: 400px;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("image/kolinval.jpg");
    min-height: 400px;
}
.bgimg-3 {
    background-image: url("image/kolinval.jpg");
    min-height: 400px;
}
/* Create a Parallax Effect */
.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
} 
#myTable {
    padding: 0px;
}    
@media only screen and (max-width: 700px) {
    
    #myTable{
        font-size: 10px;
    }
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}
#myBtn:hover {
  background-color: #555;
}

.proNas{
  margin: 0;
  padding-top: 100px;  
}
.proNas1{
  text-align: justify; 
  margin: 0; 
  padding: 5% 10% 10% 10%; 
  color: gray;  
}
.infoo {
  width:80%; 
  margin: auto; 
  padding-bottom: 50px;  
}
.infooo{
  height: 500px; 
}
.infooo img{
  height: 150px;  
}
.infooo p{
  text-align: justify;
  color: grey;
  margin: 15px;  
}
#gale h2{
  margin: 0;
  padding-top: 100px;
}
#gale div .fotorama{
    padding: 0 10% 10% 10%;
}
#cont h2 {
    margin: 0;
    padding-top: 100px
}
#cont .w3-row{
    width:80%;
    margin: auto;
}
#cont .w3-half {
    height: 350px;
}
#tell{
   padding: 10px;
   height: 250px; 
   padding-top: 30px; 
}
#tell i {
   width:30px; 
}
#lisst{
    height: 350px;
}
#lisst textarea{
    height:50px;
}















