body {
    margin: 0;
    padding: 0;
    background-color: #191C28;
}
.container {
    max-width: 1920px;
    height: 4217px;
    background-color: #747474;
    margin: auto;
}
.grid-container {
    max-width: 1920px;
}
#menu {
position: fixed;
width: 100%;
z-index: 3;
}
.grid-container {
    display: grid;
    grid-template-columns: auto 122px 400px auto auto;
  }
.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
  }
#logo {
      width: 122px;
      height: 108;
  }
ul {
    list-style-type: none;
    margin: 35px 40px; 
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

li a:hover {
    border-bottom: 3px solid rgb(121, 188, 255);
}
.header img{
    width: 100%;
}
.banner {

}