@font-face {
    font-family: 'myFont';
    src: url('./fonts/SegoeUIBold/SegoeUIBold.ttf');
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

header {
    height: auto;
}

.information {
    background-color: #2147B0;
    font-weight: 600;
    padding: 5px;
    padding-bottom: 15px;
}

.desc {
    float: left;
    width: 65%;
    text-align: right;
    margin: 0;
    color: white;
    font-size: 1.2em;
    padding-top: 10px;
}

#currency {
    text-align: left;
    margin: 0;
    color: #53BAFF;
    font-size: 1.2em;
    padding-top: 10px;
    float: left;
}

.search-container {
    margin-top: 35px;
    margin-bottom: 40px;
}

.search-label {
    text-align: center;
    font-family: 'myFont';
    font-size: 1.5em;
    height: 55px;
}

.row input {
    text-align: center;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: 1px solid grey;
    border-radius: 22px;
    padding-top: 0;
}

.row .search-input:focus {
    -webkit-box-shadow: 0px 0px 5px 6px rgba(46, 142, 235, 0.15);
    -moz-box-shadow: 0px 0px 5px 6px rgba(46, 142, 235, 0.15);
    box-shadow: 0px 0px 5px 6px rgba(46, 142, 235, 0.15);
    border: 1px solid #2E8EEB;
    color: #2E8EEB;
    outline: none;
}

.search-btn {
    width: 125px !important;
    text-align: center;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #2E8EEB !important;
    background-color: #2E8EEB !important;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    padding-bottom: 4px;
}

.search-btn:hover {
    -webkit-box-shadow: 0px 0px 5px 6px rgba(46, 142, 235, 0.15);
    -moz-box-shadow: 0px 0px 5px 6px rgba(46, 142, 235, 0.15);
    box-shadow: 0px 0px 5px 6px rgba(46, 142, 235, 0.15);
}

.slash {
    text-align: center;
    margin: 0;
    color: white;
    font-size: 1.2em;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
}

.word_or {
    margin: 0;
    padding: 0;
    color: #2E8EEB;
    display: flex;
    align-items: center;
    height: 43px;
    text-align: center;
}

.word_or span {
    margin-top: 32px;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 992px) {
    .desc, #currency {
        text-align: center;
        font-size: 1em;
    }
    .search-btn-box {
        text-align: center;
    }
}

.parts-container-header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #E2E9FB;
    color: grey;
    font-size: 1.2em;
    font-weight: 600;
}

.parts-content {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #2E8EEB;
    min-height: 500px;
}

.parts-content .row {
    border-bottom: 1px solid rgba(153, 149, 149, 0.376);
}

.parts-content .row div {
    margin-top: 10px;
    margin-bottom: 5px;
}

.parts-content img {
    padding-top: 0px;
    margin-top: -4px;
    height: 36px;
}

.parts-content a {
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .parts-container-header {
        font-size: 0.8em;
    }
    .parts-content .row {
        font-size: 0.8em;
    }
    .parts-content img {
        height: 30px;
    }
}

@media screen and (max-width: 575px) {
    .parts-content {
        text-align: center;
    }
    #analog {
        border-bottom: 1px solid rgba(153, 149, 149, 0.376) !important;
        border-radius: 46px;
    }
    .analog {
        border-radius: 46px !important;
        padding-bottom: 0 !important;
    }
    .back-image-search img {
        width: 185% !important;
    }
}

.analog {
    border-radius: 15px;
    color: grey;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: #F4F4F4;
    transition: visibility 0s linear 800ms, opacity 900ms;
}

.analog .row {
    border: none !important;
}

#analog label {
    color: #2E8EEB;
    margin-right: 3px;
    opacity: 0.5;
}

.part-label-mobile {
    color: grey;
    margin-right: 3px;
    opacity: 0.6;
}

/* footer */

#load {
    background-image: url("./image/copper-loader.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 10px;
    width: 120px;
}

#loadParts {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('./image/loadingParts.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: 40px;
    opacity: 0.4;
}

#color-grey {
    color: grey;
    min-height: 47px;
}

#load-scroll {
    height: 29px;
    background-image: url('./image/30.gif');
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
}

.number {
    word-wrap: break-word;
}

.back-image-search img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 178px;
}

.logo-bootom-menu-mob {
    width: 40px;
    margin-left: 20px;
}

/* cart ____________________  */

.action-icons {
    text-align: right;
}

.action-icons>i {
    cursor: pointer;
    border: 1px solid #a1cdf6;
    padding: 7px 25px;
    border-radius: 16px;
    margin: 0px 5px;
    margin-top: -2px;
    margin-bottom: 4px;
}

.action-icons>i:hover {
    transition: .5s;
    border-color: #2E8EEB;
}

.disable {
    transition: .5s;
    pointer-events: none;
    color: #e8e8e8;
    border-color: #e8e8e8 !important;
}

.card-buttons {
    position: relative;
    top: -141px;
    z-index: 1040;
    float: right;
    padding-right: 5px;
}

.fixed-position {
    position: fixed;
    top: 15px;
    right: 15px;
}

.card-buttons .card-count {
    font-size: 13px;
    border: 1px solid white;
    border-radius: 50%;
    width: 25px;
    padding-bottom: 3px;
    float: right;
    margin-top: 2px;
}

.btnCard {
    width: 80px;
}

/* _____________________ */

.quantity {
    /* padding-top: 20px; */
    /* margin-right: 60px; */
    display: flex;
    /* width: 60px; */
}

.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px !important;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

#sm-input {
    width: 80px !important;
    overflow: hidden;
}

.shopping-cart {
    /* width: 750px;
    height: 423px;
    margin: 80px auto; */
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.quantity button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.quantity button[class*=btn] i {
    color: #6f6f6f;
}

.cart-count-item {
    text-align: center;
    width: 35px;
}

.quantity button:focus, .quantity input:focus {
    outline: 0;
}

.quantity button:hover {
    transition: .5s;
    background-color: #dcdcdc;
}

.btn-delete {
    cursor: pointer;
    color: #6f6f6f;
    font-size: 23px;
    /* text-align: center; */
}

.btn-delete>i:hover {
    color: #007bff;
}

.modal-body>.table th, .modal-body>.table td {
    vertical-align: middle;
}

.total-card {
    float: right;
    background-color: #f9f9f9;
    padding: 10px 20px;
    border-radius: 10px;
    color: #007bff;
    font-weight: 600;
}

.total-card span {
    color: #9e9e9e;
    text-transform: uppercase;
}

.total-grn {
    padding-left: 65px;
}

.modal-body>.table {
   border-bottom: 1px solid #dee2e6;
}

@media screen and (max-width: 768px) {
    .padding-r.navbar-toggler {
        padding-right: 90px !important;
    }
    .quantity button[class*=btn] {
        width: 100%;
        height: 23px;
    }
    .quantity {
        display: block;
    }
    .cart-count-item {
        width: auto;
    }
    .modal-body>.table {
        font-size: 15px;
    }
    .modal-body>.table th, .modal-body>.table td {
        padding: 5px;
    }
}
.table-hover tbody tr:hover {
    background-color: rgba(154, 154, 154, 0.075);
}

@media screen and (max-width: 350px) {
    .fixed-position {
        right: 5px !important;
    }
    .padding-r.navbar-toggler {
        padding-right: 74px !important;
    }
    .modal-body>.table th, .modal-body>.table td {
        padding: 2px;
        word-break: break-all;
        max-width: 80px;
    }
    .show-only-tablet{
        display: none;
    }
    .modal.show {
        padding: 0px !important;
    }
    .modal-dialog.modal-lg{
        margin: 0px !important;
    }
}

/* ____________________ cart */