@font-face {
    font-family: 'myFont';
    src: url('./fonts/SegoeUIBold/SegoeUIBold.ttf');
    }

    html {
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
      }


header{
    height: auto; 
    
}

.information{
    height: auto; 
    background-color:#2147B0; 
    font-weight: 600;
    padding-bottom: 10px;
}

.desc{
    float: left; 
    width: 65%; 
    text-align: right;
    margin: 0;
    color: white;
    font-size: 1.2em; 
    padding-top: 10px;
}

#currency{
    text-align: left;
    margin: 0;
    color: #53BAFF;
    font-size: 1.2em;
    padding-top: 10px;
    float: left;
}


.search-container{
    margin-top: 35px;
    margin-bottom: 40px;
}

.search-label{
    text-align: center;
    font-family: 'myFont';
    font-size: 1.5em;
}

/* .container{
    text-align: center;
} */

.row input{
    text-align: center;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: 1px solid grey;
    border-radius: 22px;
    padding-top: 0;
}

.row .search-input:focus{
-webkit-box-shadow: 0px 0px 5px 6px rgba(46,142,235,0.15);
-moz-box-shadow: 0px 0px 5px 6px rgba(46,142,235,0.15);
box-shadow: 0px 0px 5px 6px rgba(46,142,235,0.15);
border: 1px solid #2E8EEB;
color: #2E8EEB;
outline: none;
}

.search-btn{
    width: 125px !important;
    text-align: center;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #2E8EEB !important;
    background-color: #2E8EEB;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    padding-bottom: 4px;
}

.search-btn:hover{
    -webkit-box-shadow: 0px 0px 5px 6px rgba(46,142,235,0.15);
    -moz-box-shadow: 0px 0px 5px 6px rgba(46,142,235,0.15);
    box-shadow: 0px 0px 5px 6px rgba(46,142,235,0.15);
}

.slash{
    text-align: center;
    margin: 0;
    color: white;
    font-size: 1.2em; padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
}



@media screen and (max-width: 992px) {
    .desc, #currency{
        text-align: center;
        font-size: 1em;
    }
    .search-btn-box{
        text-align: center;
    }
  }

  


 .parts-container-header{
     padding-top: 15px;
     padding-bottom: 15px;
     background-color: #E2E9FB;
     color: grey;
     font-size: 1.2em;
     font-weight: 600;
 }

 .parts-content{
    padding-top: 15px;
    padding-bottom: 15px;
    color: #2E8EEB;
    min-height: 500px;
 }

 .parts-content .row{
     border-bottom: 1px solid rgba(153, 149, 149, 0.376);
     
 }

 .parts-content .row div{
     margin-top: 10px;
     margin-bottom: 5px;
 }

 .parts-content img{
    padding-top: 0px;
    margin-top: -4px;
    height: 36px;
 }

 .parts-content a{
    cursor: pointer;
 }

 @media screen and (max-width: 992px){
    .parts-container-header{
        font-size: 0.8em;
    }
    .parts-content .row{
        font-size: 0.8em;
    }
    .parts-content img{
        height: 30px;
    }
 }

.analog{
    border-radius: 15px;
    color: grey;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: #F4F4F4;
    transition: visibility 0s linear 800ms, opacity 900ms;
}

.analog .row{
    border: none !important;
}

/* .close-btn{
    text-align: right;
    cursor: pointer;
    margin-top: 0;
} */


/* .analog-header{
    border:none !important;
    margin-top: 40px;
    height: 56px;
} */

/* .analog-header p{
    font-family: 'myFont';
    font-size: 1.2em;
} */

/* .analog-header img{
    height: 20px !important;
}

#analog-first-item{
    color: #2E8EEB;
    border-bottom: 1px solid white !important;
    padding-bottom: 10px;
} */



 /* footer{
    
 } */

 #load{
     background-image: url("./image/copper-loader.gif");
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
     height: 10px;
     width: 120px;
 }

 #loadParts{

        /* position: absolute;
        height: 100%;
        background-image:url('./image/loadingParts.gif');
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;
        width: 100%;
        z-index: 23;
        opacity: 0.3; */

        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('./image/loadingParts.gif');
        background-repeat: no-repeat;   
        background-position: center;
        background-color: black;
        opacity: 0.3;
       
 }

 #color-grey{
     color: grey;
     min-height: 47px;
 }


 #load-scroll{
    height: 29px;
    background-image:url('./image/30.gif');
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
 }

 .number{
     word-wrap: break-word;
 }